body {
  background-color: #FEFEFA;
}


.container {
  max-width: 960px;
}    

.container > a {
 text-decoration: none;
}

.container > a > .jumbotron {
      margin-top: 5%;
      background-color: #5cb85c;
      color: #FEFEFA;
    }
 
  
    .btn-success {
      margin-right: 5px;
    }

    ul > li {
      list-style-type: none;
    }

.list-group > .list-group-item {
  padding: 0;
}

.list-group > .list-group-item > a {
  text-decoration: none;

}

.survey-link {
  border: none;
  height: 100%;
  width: 100%;
  text-align: left;
}

.chart-container {
  text-align: center;
}

